* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

header {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  background: linear-gradient(127deg, #0990ff, #0f018f);
  box-shadow: 0px 1px 10px #242526;
}

header > p {
  color: white;
  text-align: center;
  font-size: 2.6rem;
}

header > h1 {
  font-size: 4rem;
  color: white;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

header div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

header img {
  width: 150px;
}

.basic {
  margin: auto;
  margin-top: 10px;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

section {
  color: #242526;
  display: grid;
  height: 100%;
  max-width: 320px;
  padding: 10px;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -5px black;
  text-align: center;
  min-height: 200px;
}

button {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  color: white;
  background-color: #0990ff;
  transition: 450ms;
}

button:hover {
  box-shadow: 0px 5px 5px -3px black;
}

input {
  height: 40px;
  width: 60px;
  font-family: inherit;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

label {
  margin-top: 10px;
  display: block;
}

@media (min-width: 425px) {
  header img {
    width: 30%;
  }

  header div {
    width: 100%;
    justify-self: center;
    justify-content: space-around;
    flex-direction: row;
    max-width: 548px;
  }
}
@media (min-width: 600px) {
  header {
    height: 415px;
  }
  .basic {
    grid-template-columns: 1fr 1fr;
  }

  header img {
    height: 30%;
  }
}

@media (min-width: 900px) {
  .basic {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}