* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

header {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(127deg, #0990ff, #0f018f);
  -webkit-box-shadow: 0px 1px 10px #242526;
          box-shadow: 0px 1px 10px #242526;
}

header > p {
  color: white;
  text-align: center;
  font-size: 2.6rem;
}

header > h1 {
  font-size: 4rem;
  color: white;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

header img {
  width: 150px;
}

@media (min-width: 425px) {
  header img {
    width: 30%;
  }

  header div {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 548px;
  }
}
@media (min-width: 600px) {
  header {
    height: 415px;
  }

  header img {
    height: 30%;
  }
}