@import "./globals.scss";
@import "./header.scss";

.basic, .intermediate {
  margin: auto;
  margin-top: 10px;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

section {
  color: #242526;
  display: grid;
  height: 100%;
  max-width: 320px;
  padding: 10px;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -5px black;
  text-align: center;
  min-height: 200px;
}

button {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  color: white;
  background-color: #0990ff;
  transition: 450ms;
}

button:hover {
  box-shadow: 0px 5px 5px -3px black;
}

input {
  height: 40px;
  width: 60px;
  font-size: 1.8rem;
  font-family: inherit;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

label {
  margin-top: 10px;
  display: block;
  font-size: 1.8rem;
}

p{
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  margin-top: 20px;
}

@media (min-width: 425px) {
  header img {
    width: 30%;
  }

  header div {
    width: 100%;
    justify-self: center;
    justify-content: space-around;
    flex-direction: row;
    max-width: 548px;
  }
}
@media (min-width: 600px) {
  header {
    height: 415px;
  }
  .basic {
    grid-template-columns: 1fr 1fr;
  }
  header img {
    height: 30%;
  }
}

@media (min-width: 900px) {
  .basic {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}